@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');

:root {
    --header-height: 4.5rem;
    --main-color: #FF8000;
    --text-bold-color: #FFF;
    --text-light-color: #818693;
    --text-dark-color: rgba(255, 255, 255, 0.65);
    --btn1-hover-color: rgb(214, 107, 0);
    --btn2-hover-color: rgba(255, 255, 255, 0.36);
    --white-color: #FFF;
    --black-color: #000;
    --label-color: rgba(62, 69, 89, 0.35);
    --font-family-1: 'Roboto', sans-serif;
    --font-family-2: 'Amita', cursive;
    --section-title-font-size: 29px;
    --text-font-size: 15px;
    --font-extra-light: 300;
    --font-light: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 900;
    --radius-8: 8px;
    --radius-14: 14px;
    --radius-30: 30px;
    --radius-full: 50%;
}

body {
    font-size: var(--text-font-size);
    font-weight: var(--font-light);
    overflow-x: hidden;
    --webkit-font-something: antialiased;
    background-color: var(--black-color);
    color: var(--white-color);
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 10px;
}

.section__padding {
    padding: 0px 15px;
}
.section__top {
    margin-bottom: 45px;
}
.section__heading {
    display: block;
}
.section__subtitle {
    color: var(--main-color);
    font-weight: var(--font-extra-bold);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.section__title {
    font-weight: var(--font-extra-bold);
    font-size: var(--section-title-font-size);
    margin-bottom: 25px;
}
.section__title.light {
    color: var(--white-color);
}
.section__title.dark {
    color: var(--black-color);
}
.text__center {
    text-align: center;
}
.wrapper {
    padding: 70px 0;
    position: relative;
}
.heading__text {
    font-family: var(--font-family-2);
    color: var(--white-color);
    font-size: 50px;
    margin-bottom: 1rem;
    line-height: 1.2;
}
.button__wrapper {
    display: flex;
    justify-content: space-between;
}
.btn {
    padding: 15px 18px;
    font-size: 14px;
    font-weight: var(--font-medium);
    border: none;
    outline: none;
    border-radius: var(--radius-30);
    cursor: pointer;
    transition: all 0.3s linear;
    color: var(--white-color);
}

.btn__1 {
    background-color: var(--main-color);
}

.btn__1:hover {
    background-color: var(--btn1-hover-color);
}

.btn__2.light {
    color: var(--white-color);
    border: 2px solid rgba(255, 255, 255, 0.36);
    background-color: transparent;
}

.btn__2.dark {
    color: var(--black-color);
    border: 2px solid rgba(62, 69, 89, 0.21);
    background-color: transparent;
}

.btn__2.dark:hover {
    background-color: #CFD1D5;
    border-color: transparent;
}

.btn__2:hover {
    background-color: var(--btn2-hover-color);
    border-color: transparent;
}

.carousel__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: var(--radius-full);
    background-color: transparent;
    font-size: 1.25rem;
    cursor: pointer;
    margin-right: 5px;
    transition: border-color 0.3s linear;
}

.carousel__btn.light {
    color: white;
    border: 2px solid var(--white-color);
}

.carousel__btn.dark {
    color: black;
    border: 2px solid rgba(62, 69, 89, 0.21);
}

.carousel__btn.dark:hover {
    border-color: black;
}

.carousel__btn i {
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    padding: 0 15px;
    background-color: transparent;
}

header {
    opacity: 0;
    animation: fadeIn 1s 1.5s ease-in;
    animation-fill-mode: forwards;
}

.header__top,
.header__top .contact__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
}

.header__top a {
    color: var(--white-color);
    transition: all 0.3s ease-in;
}

.header__top .contact__number:hover, 
.header__top .contact__email:hover {
    color: var(--main-color);
}

.header__social__links {
    display: none;
    gap: 22px;
    margin-top: 5px;
}

.header__social__links i {
    font-size: 24px;
    opacity: 0.46;
}

.header__social__links i:hover {
    opacity: 1;
}

.nav {
    height: var(--header-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}

.nav__logo,
.nav__search,
.nav__toggle {
    color: var(--white-color);
}

.nav__logo {
    display: inherit;
    font-weight: var(--font-extra-light);
    line-height: 70px;
    font-size: 2rem;
    letter-spacing: 1px;
}

.nav__search {
    font-size: 1.7rem;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.nav__toggle {
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.nav__menu {
    position: relative;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1020px) {
    .nav__menu {
        position: fixed;
        background-color: var(--black-color);
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        z-index: 999999;
        box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
        padding-top: 8rem;
        padding-left: 1rem;
    }
    .nav__link {
        color: var(--white-color);
    }
    .nav__link.active {
        color: var(--main-color);
        border-bottom: none !important;
    }
}

@media screen and (max-width: 420px) {
    .nav__menu {
        width: 100%;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    padding: 25px;
    color: var(--text-bold-color);
    font-size: var(--text-font-size);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover {
    color: var(--main-color);
}

.nav__link.active {
    border-bottom: 2px solid var(--white-color);
}

.nav__close {
    position: absolute;
    color: var(--white-color);
    top: 3.75rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
}

.show-menu {
    right: 0;
}

@media screen and (min-width: 1020px) {
    .nav__link {
        color: var(--white-color);
        text-transform: inherit;
    }
    .nav__menu {
        display: flex;
        column-gap: 1rem;
    }
    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }
    .nav__toggle,
    .nav__close {
        display: none;
    }
    .nav__search {
        position: static;
    }
    .nav {
        justify-content: space-between;
    }
}

.nav__wrapper.fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 15px;
    background-color: var(--black-color);
    z-index: 99999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    transition: top 0.3s ease-in-out;
}

.nav__wrapper.fixed .nav {
    border-bottom: none;
}

.search__bar__wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.search__bar__wrapper.show-search {
    opacity: 1;
    pointer-events: auto;
}

.search__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    border-bottom: 2px solid var(--white-color);
    padding-bottom: 10px;
}

.search__bar input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    font-size: 28px;
    color: var(--white-color);
}

.search__bar input::placeholder {
    color: var(--white-color);
}

.search__submit,
.search__close {
    background-color: transparent;
    font-size: 40px;
    color: var(--white-color);
    padding: 0 6px;
    border: none;
    cursor: pointer;
}

.search__close {
    font-size: 50px;
    position: absolute;
    right: 5%;
    top: 20px;
}

#home {
    position: relative;
}

#home .wrapper {
    padding: 0;
}

.home__slide {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.home__slide.slide__1 {
    background-image: url(Images/slide-bg-1.jpg);
}

.home__slide.slide__2 {
    background-image: url(Images/slide-bg-2.jpg);
}

.home__slide.slide__3 {
    background-image: url(Images/slide-bg-3.jpg);
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.home__slide__content {
    position: absolute;
    width: 100%;
    bottom: 18%;
    left: 3%;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-carousel .owl-item.active .home__slide__content {
    animation: fadeIn 1s 1s ease-in;
    animation-fill-mode: forwards;
}

.home__slide__content.heading__text {
    text-shadow: 0px 2px 5px black;
}

.home__slide__desc {
    color: var(--white-color);
    margin-bottom: 1.5rem;
    max-width: 700px;
    font-size: 14px;
}

.home__slide__content .carousel__btn {
    position: absolute;
    bottom: -70px;
    right: 30px;
}

.home__slide__content .btn {
    width: 45%;
    padding: 15px 0;
}

.best__destination {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 2%;
    top: 84%;
    z-index: 10;
    width: 230px;
}

.best__destination i {
    font-size: 50px;
    color: var(--white-color);
    margin-right: 10px;
}

.best__destination p {
    font-size: 17px;
    color: var(--white-color);
}

#destinations {
    background-color: var(--black-color);
}

.destination__slide {
    position: relative;
    cursor: pointer;
}

.destination__slide img {
    min-height: 370px;
    min-width: 370px;
    object-fit: cover;
    border-radius: var(--radius-14);
}

.destination__slide .tag__list {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 15px;
}

.tags {
    height: 36px;
    width: auto;
    display: block;
    float: left;
    line-height: 36px;
    color: var(--white-color);
    font-size: 17px;
    font-weight: var(--font-medium);
    text-align: center;
    padding: 0 15px;
    margin-right: 15px;
    border-radius: var(--radius-30);
}

.tags.discount {
    background-color: #CB4822;
}

.tags.new {
    background-color: #009A70;
}

.destination__slide .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-left: 15px;
    padding-bottom: 22px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}

.rating {
    margin-bottom: 10px;
}

.rating i {
    color: #FFC400;
    width: 17px;
    height: 20px;
}

.rating i.inactive {
    color: var(--white-color);
}

.destination__slide .content .title {
    font-size: 28px;
    color: var(--white-color);
    font-weight: var(--font-extra-bold);
    margin-bottom: 10px;
    transition: all 0.3s linear;
}

.destination__slide .content .title:hover {
    color: var(--main-color);
}

.destination__slide .content .description {
    font-size: 15px;
    max-width: 600px;
    font-style: italic;
    color: var(--text-dark-color);
    margin-bottom: 18px;
    margin-right: 1rem;
}

.clock {
    color: var(--white-color);
    font-size: 22px;
    transform: translateY(2px);
    margin-right: 7px;
}

.destination__slide .content span {
    margin-left: 7px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 15px;
}

.search__tour {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--black-color) 50%, #F7F7F7 50%);
}

.search__tour__wrapper {
    width: 100%;
    padding: 50px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 60px 0px rgb(0 0 0 / 16%);
}

.search__tour__wrapper .section__heading {
    margin-bottom: 40px;
}

.search__tour__wrapper .section__title {
    max-width: 520px;
}

.feilds {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feild__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.feild__label {
    color: var(--label-color);
    font-weight: var(--font-bold);
    margin-bottom: 15px;
    font-size: 16px;
}

.feild__input,
.feild__select {
    display: flex;
    overflow: hidden;
    align-items: center;
    border: 2px solid #E6E6E6;
    height: 62px;
    border-radius: var(--radius-14);
}

.feild__input input,
.feild__select select {
    padding: 0 10px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.feild__select select {
    margin: 10px;
}

.feild__input input::placeholder {
    color: var(--black-color);
}

.feild__input i {
    font-size: 20px;
    padding-right: 10px;
    color: var(--black-color);
}

input:focus,
select:focus-visible {
    border: none;
    outline: none;
}

.feilds .btn__1 {
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 34px;
    margin-top: 20px;
    padding: 15px;
}

#tours {
    background-color: #F7F7F7;
}

.tour__item {
    border: 1px solid #E2E2E2;
    border-radius: var(--radius-14);
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 5%);
}

.tour__item .img__box {
    border-top-left-radius: var(--radius-14);
    border-top-right-radius: var(--radius-14);
    overflow: hidden;
}

.tour__item__content {
    padding: 20px;
    background-color: var(--white-color);
    border-bottom-left-radius: var(--radius-14);
    border-bottom-right-radius: var(--radius-14);
    color: var(--black-color);
}

.tour__details {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour__details .rating {
    margin: 0;
    font-size: 20px;
}

.tour__details .rating i {
    transform: translateY(2px);
}

.tour__name {
    font-size: 22px;
    font-weight: var(--font-extra-bold);
    color: #3E4559;
    cursor: pointer;
    transition: all 0.3s linear;
}

.tour__item:hover .tour__name {
    color: var(--main-color);
}

.tour__item .desc {
    color: var(--text-light-color);
    font-weight: var(--font-medium);
    margin-bottom: 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 1.4;
}

.tour__details .location,
.tour__details .price {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: var(--black-color);
    font-weight: var(--font-extra-bold);
    font-size: 14px;
}

.tour__details .location i {
    color: var(--main-color);
    font-size: 24px;
    margin-right: 5px;
}

.tour__details .price i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: var(--radius-full);
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 15px;
    margin-right: 5px;
}

.tour__details .price span {
    font-weight: var(--font-light);
    font-size: 15px;
}

#gallery {
    background: url(Images/gallery-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#gallery::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 8px;
}

.gallery__item__1,
.gallery__item__3 {
    grid-column: auto / span 4;
    grid-row: auto / span 4;
}

.gallery__item__2,
.gallery__item__4,
.gallery__item__5 {
    grid-column: auto / span 4;
    grid-row: auto / span 8;
}

.gallery__item__6 {
    grid-column: auto / span 8;
    grid-row: auto / span 8;
}

.gallery__item {
    position: relative;
}

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: var(--radius-8);
}

.gallery__item .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--white-color);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.gallery__item:hover .icon {
    opacity: 1;
}

#blogs {
    position: relative;
    min-height: 150vh;
    background-image: url(Images/blog-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#blogs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(#000000 0%, #000000 57%, rgba(0, 0, 0, 0) 100%);
}

#blogs .section__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blogs .section__text {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.4;
    max-width: 645px;
    color: var(--text-dark-color);
}

.blog__item__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.blog__item {
    width: 100%;
}

.blog__item img {
    border-radius: var(--radius-14);
    overflow: hidden;
}

.blog__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.blog__date {
    font-size: 12px;
    font-weight: var(--font-extra-bold);
    color: rgba(255, 255, 255, 0.37);
    margin-bottom: 10px;
}

.blog__name {
    color: var(--white-color);
    font-size: 20px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.blog__item:hover .blog__name {
    color: var(--main-color);
}

.blog__text {
    font-size: 14px;
    color: var(--text-dark-color);
    text-align: center;
    max-width: 470px;
    line-height: 1.8;
}

#blogs .btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer {
    background-color: var(--black-color);
}

.footer__top {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__top .col {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer__logo {
    font-size: 2rem !important;
    font-weight: var(--font-extra-bold) !important;
    letter-spacing: 1px !important;
    color: var(--white-color) !important;
    margin-bottom: 2rem !important;
}

.footer__top .col h4 {
    color: var(--white-color);
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer__top .col p,
.footer__top .col a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 1.8;
}

.footer__top .col a {
    transition: color 0.3s ease-in-out;
}

.footer__top .col a:hover {
    color: var(--main-color);
}

.footer__top .social__links {
    display: flex;
    margin-top: 10px;
}

.footer__top .social__links li a {
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.footer__top .social__links li a:hover {
    color: var(--main-color);
}

.footer__bottom {
    padding: 25px 0;
    margin: 0 20px;
    border-top: 1px solid gray;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}

.footer__bottom p {
    color: var(--white-color);
}

.footer__bottom p i {
    color: red;
}

.footer__bottom p a {
    color: var(--main-color);
}

@media screen and (min-width: 460px){
    .search,
    .header,
    .nav__wrapper.fixed {
        padding: 0px 30px;
    }
    .home__slide__content {
        left: 30px;
    }
    .heading__text {
        font-size: 70px;
    }
    .home__slide__desc {
        font-size: 18px;
    }
    .home__slide__content .carousel__btn {
        right: 70px;
    }
    .best__destination {
        width: 320px;
        left: 30px;
    }
    .destination__slide img {
        min-height: 430px;
        max-height: 430px;
        object-fit: cover;
    }
    .tour__name {
        font-size: 24px;
    }
    .tour__item__content .desc,
    .tour__item__content .location,
    .tour__item__content .price {
        font-size: 16px;
    }
    .gallery__wrapper {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(6, 5vw);
        grid-gap: 20px;
    }
    .gallery__item__1,
    .gallery__item__3,
    .gallery__item__6 {
        grid-column: auto / span 3;
        grid-row: auto / span 4;
    }
    .gallery__item__2,
    .gallery__item__4,
    .gallery__item__5 {
        grid-column: auto / span 3;
        grid-row: auto / span 6;
    }
}

@media screen and (min-width: 615px) {
    :root {
        --section-title-font-size: 40px;
    }
    .section__padding,
    .header,
    .nav__wrapper.fixed,
    .search__tour {
        padding: 0 40px;
    }
    .header__top .contact__details {
        justify-content: flex-start;
        gap: 5rem;
    }
    .nav {
        justify-content: space-between;
    }
    .nav__search {
        right: 35px;
        left: auto;
    }
    .btn {
        padding: 15px 50px;
        font-size: 16px;
    }
    .search__bar input {
        font-size: 40px;
    }
    .home__slide__content .btn {
        padding: 15px 50px;
        width: auto;
    }
    .home__slide__content .carousel__btn {
        position: static;
    }
    .carousel__btn.light {
        border: 2px solid rgba(255, 255, 255, 0.36);
    }
    .carousel__btn.light:hover {
        border-color: var(--white-color);
    }
    .header__social__links {
        display: flex;
        gap: 22px;
        margin-top: 5px;
    }
    .section__subtitle {
        margin-bottom: 10px;
    }
    .destination__slide .content {
        padding-left: 50px;
        padding-bottom: 45px;
    }
    .destination__slide .content .description,
    .destination__slide .content span {
        font-size: 18px;
    }
    .destination__slide .tag__list {
        padding-top: 40px;
        padding-left: 47px;
    }
    .search__tour__wrapper {
        border-radius: var(--radius-14);
        padding: 50px;
    }
    footer {
        padding: 75px 40px;
        padding-bottom: 0;
    }
    .footer__top .brand__info {
        width: 20rem;
    }
    .footer__top .col {
        width: 15rem;
        align-items: flex-start;
        text-align: left;
    }
    .footer__bottom {
        flex-direction: row;
    }
}

@media screen and (min-width: 740px) {
    .blog__item__wrapper {
        flex-direction: row;
    }
    .blog__item {
        width: calc(50% - 25px);
    }
}

@media screen and (min-width: 1000px) {
    .section__padding {
        padding: 75px;
    }
    footer {
        padding: 75px;
        padding-bottom: 0;
    }
    .search__tour {
        padding: 0 75px;
    }
    .header,
    .nav__wrapper.fixed {
        padding: 0 75px;
    }
    .home__slide__content {
        left: 75px;
    }
    .best__destination {
        left: auto;
        right: 5vw;
        bottom: 150px;
    }
    .search__close {
        position: static;
    }
    .section__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 75px;
        padding-right: 75px;
    }
    .section__content {
        padding: 0 75px;
    }
    .section__top .button__wrapper {
        flex-direction: row-reverse;
        gap: 15px;
    }
    .section__title {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1020px) {
    .nav__search {
        position: static;
    }
    .feilds {
        flex-direction: row;
        align-items: flex-end;
    }
    .feild__input,
    .feild__select {
        border-radius: 0;
        border: 2px solid #E6E6E6;
        border-right: none;
    }
    .feild__item:first-child .feild__input {
        border-top-left-radius: var(--radius-14);
        border-bottom-left-radius: var(--radius-14);
    }
    .feild__select {
        border-right: 2px solid #E6E6E6;
        border-top-right-radius: var(--radius-14);
        border-bottom-right-radius: var(--radius-14);
    }
}
